// color
$white: #fff;
$black: #222;
$gray: #666;
$lightGray: #efefef;
$darkGray: #212121;
$green: #ABD071;
$yellow: #DDC256;

$activeRed: #fb3e1d;

// breakpoints
$contentCenter: 1140px;
$windowPC: 769px;
$windowSP: 768px;
$widthPrintPC: 1024px;

// header height
$headerHeightPC: 8rem;
$headerHeightSP: 5rem;
$footerHeightPC: 9.6rem;
$footerHeightSP: 5rem;

// wpAdminBar
$wpAdminBarPC: 3.2rem;
$wpAdminBarSP: 4.6rem;