/*====================================================================
topPageFvSec
====================================================================*/
:root {
  --shadow-color: 286deg 36% 56%;
  --shadow-elevation-low: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    0.4px 0.8px 1px hsl(var(--shadow-color) / 0.34),
    1px 2px 2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    1.5px 2.9px 3.7px hsl(var(--shadow-color) / 0.34),
    2.7px 5.4px 6.8px hsl(var(--shadow-color) / 0.34),
    4.5px 8.9px 11.2px hsl(var(--shadow-color) / 0.34),
    7.1px 14.3px 18px hsl(var(--shadow-color) / 0.34),
    11.2px 22.3px 28.1px hsl(var(--shadow-color) / 0.34),
    17px 33.9px 42.7px hsl(var(--shadow-color) / 0.34),
    25px 50px 62.9px hsl(var(--shadow-color) / 0.34);
}

.hero {
  // background: pink;
  // background: $darkGray;
  background: url('./../images/main-bg.png') repeat 0 0;
  background-color: rgba($color: $green, $alpha: .7);
  width: 100%;
  padding: 0 1.5rem;
  position: relative;

  .inner__wrapper {}

  .hero__area {
    position: relative;
    z-index: 2;
  }

  .hero__flex {
    @include u-flex($fd: row-reverse, $fw: nowrap, $jc: space-between, $ai: center);
    width: 100%;
    max-width: 90rem;
    margin: 0 auto;
    height: 70rem;

    @include u-mqMax {
      height: auto;
      display: block;
      padding: 10rem 0 7rem;
    }
  }
}

.hero__kv {
  width: 40rem;

  @include u-mqMax {
    width: 20.5rem;
    margin: 0 auto;
  }
}

.hero__content {
  flex: 1;
}

.hero__title {
  font-size: 5.5rem;
  line-height: 1.2;
  // color: $darkGray;
  text-transform: uppercase;

  @include u-mqMax {
    font-size: 3.5rem;
  }
}

.hero__titleText {
  display: inline-block;
  padding: 0 1rem;
  letter-spacing: .2rem;
  background: $yellow;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: var(--shadow-elevation-medium);

  &:not(:first-child) {
    margin-top: .5rem;

    @include u-mqMax {
      margin-top: .3rem;
    }
  }
}

.hero__titleExt {
  display: inline-block;
  font-size: 6rem;
  padding: 0 1rem;
  background: $yellow;
  color: $white;
  margin-top: .5rem;
  white-space: nowrap;
  letter-spacing: .2rem;
  text-shadow: var(--shadow-elevation-medium);

  @include u-mqMax {
    font-size: 4rem;
  }
}

.hero__subtitle {
  font-size: 2rem;
  margin: 1rem 0 0;
  color: $black;

  @include u-mqMax {
    font-size: 1.4rem;
    margin: .5rem 0 0;
  }
}