
-
    let main_menu = [
            {title: "ABOUT", slug: "#about", link: "", className: "active"},
            //- {title: "STATS", slug: "#stats", link: ""},
            {title: "INVEST", slug: "#invest", link: "", className: ""},
            {title: "REFERRALS", slug: "#referrals", link: "", className: ""},
            {title: "DIVIDENDS", slug: "#dividends", link: "", className: ""},
            {title: "FAQ", slug: "#faq", link: "", className: ""}
        ];

header.siteHeader
    .siteHeader__inner
        nav.siteHeader__nav(role='navigator')
            .siteHeader__navLogo
                .siteHeader__navLogoKv
                    img(src=`${relativePath}/_assets/images/logo.png`, alt="")
            ul.siteHeader__navList: each item in main_menu
                li.siteHeader__navItem
                    a.siteHeader__navItemLink(href=`${item.slug}` class=`${item.className}`)= item.title

            .u-spDb
                .siteHeader__navSp#menuSp
                    .menu-trigger
                        span
                        span
                        span

