/*====================================================================
siteHeader
====================================================================*/
.siteHeader {
  background: $black;
  box-shadow: 1px 1px 6px 4px rgba($black, 0.04);
  height: $headerHeightPC;
  left: 0;
  padding: 15px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  @include u-mqMax {
    // height: $headerHeightSP;
    height: auto;
  }

  // headerの上部固定の時に、ページごとにリピートされないように
  @include u-print {
    position: absolute;
  }

  &__innerArea {
    @include u-contentCenter($widthPC: $contentCenter, $paddingLR-PC: 15px, $paddingLR-SP: 15px);
    // @include u-flex($jc: space-between, $ai: center);
  }
}


.siteHeader__inner {
  width: 100%;
  // max-width: 1200px;
  padding: 0 4rem;
  margin: 0 auto;
  position: relative;

  @include u-mqMax {
    padding: 0;
  }
}

.siteHeader__nav {
  @include u-flex($fd: row, $fw: nowrap, $jc: space-between, $ai: center);

  @include u-mqMax {
    display: block;
  }
}

.siteHeader__navLogo {}

.siteHeader__navLogoKv {
  width: 20rem;

  @include u-mqMax {
    width: 13.5rem;
    margin-left: 1.5rem;
  }
}

.siteHeader__navList {
  @include u-flex($fd: row, $fw: nowrap, $jc: space-between, $ai: center);
  list-style: none;

  @include u-mqMax {
    display: block;
    width: 100%;
    padding: 1rem 0 0;
    display: none;
    // background: $darkGray;
  }
}

.siteHeader__navItem {
  margin-left: 5rem;

  @include u-mqMax {
    margin: 0;
    text-align: center;
  }
}

.siteHeader__navItemLink {
  font-size: 1.8rem;
  font-weight: bold;
  color: $white;
  font-family: $orbitron;
  letter-spacing: .05em;
  @include u-trs;
  position: relative;

  @include u-mqMax {
    width: 100%;
    text-align: center;
    display: block;
    padding: 1rem;
    font-size: 1.4rem;
  }

  &:before {
    content: '';
    position: absolute;
    bottom: -3px;
    right: 0;
    width: 0%;
    height: 2px;
    background-color: $green;
    @include u-trs;

    @include u-mqMax {
      content: none;
    }
  }

  &:hover {
    color: $green;
    text-decoration: none;

    &:before {
      width: 100%;
      left: 0;
      right: auto;
    }

    @include u-mqMax {
      background: $gray;
    }
  }

  &.active {
    color: $green;
    text-decoration: none;

    &:before {
      width: 100%;
      left: 0;
      right: auto;
    }
  }
}


// SP NAVIGATION =========================================
.siteHeader__navSp {
  position: absolute;
  width: 2.5rem;
  height: 2rem;
  right: 1rem;
  top: .5rem;
  // background: pink;
}

.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}

.menu-trigger {
  position: relative;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  appearance: none;
  cursor: pointer;
}

.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: .2rem;
  background-color: #fff;
  // border-radius: 4px;
}

.menu-trigger span:nth-of-type(1) {
  top: 0;
}

.menu-trigger span:nth-of-type(2) {
  top: .9rem;
}

.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}

.menu-trigger.active span:nth-of-type(1) {
  transform: translateY(.9rem) rotate(-45deg);
}

.menu-trigger.active span:nth-of-type(2) {
  opacity: 0;
}

.menu-trigger.active span:nth-of-type(3) {
  transform: translateY(-.9rem) rotate(45deg);
}